.wd-modules,
.wd-modules * {
  border-radius: 0%;
  border: none;
  margin: 0px;
  padding: 0px;
}

.wd-modules {
  margin: 5px;
}

.wd-modules>li {
  background-color: lightgray;
  border: 1px solid gray !important;
  border-left: none !important;
}

.wd-modules>li>div {
  padding: 6px;
  border-left: 1px solid gray !important;
}

.wd-modules>li>ul>li {
  padding: 5px;
  border-top: 1px solid gray !important;
  border-left: 2px solid green;
}

.wd-modules>li {
  margin-bottom: 20px;
}


.wd-btn-gray {
  background-color: lightgray;
  border-color: lightgray;
}

.dropdown.wd-btn-gray {
  border: 1px solid #ccc;
  padding-top: 4px;
  padding-bottom: 8px;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  height: auto;
  border-color: lightgray;
}

.wd-align-right {
  display: flex;
  justify-content: flex-end;
}


.wd-mr {
  margin-right: 5px !important;
}

.dropdown-menu li a {
  display: flex;
  align-items: center;
}

.dropdown-menu li i {
  margin-right: 5px;
}


.wd-left-colum {
  padding-right: 48px;
  padding-left: 36px;
  padding-top: 48px;
  padding-bottom: 48px;
}

.wd-right-column {
  vertical-align: top;
  padding-left: 24px
}


.wd-modules,
.wd-modules * {
  border-radius: 0%;
  border: none;
  margin: 0px;
  padding: 0px;
}

.wd-modules {
  margin: 5px;
  list-style: none;
}

.wd-modules>li {
  background-color: f5f5f5;
  border: 1px solid gray !important;
  border-left: none !important;
}

.wd-modules>li>div {
  padding: 6px;
  border-left: 1px solid gray !important;
}

.wd-modules>li>ul>li {
  padding: 5px;
  border-top: 2px solid gray !important;
  border-left: 4px solid green;
  background-color: white;
}

.wd-modules>li {
  margin-bottom: 20px;
}

.wd-list-style {
  list-style-type: none;

}

.btn-style {
  padding-right: 5px !important;
  padding-left: 5px !important;
  border-radius: 16% !important;
}