.wd-kanbas-navigation {
  height: 100vh;
  background-color: black;
  list-style: none;
  padding: 0px;
  margin: 0px;
  width: 85px;
}

.wd-kanbas-navigation li {
  padding: 10px;
  font-size: 0.8em;
  text-align: center;
}

.icon {
  width: 32px; 
  height: auto;
  
}
.wd-kanbas-navigation li.wd-active {
  background-color: white;
}

.wd-kanbas-navigation li.wd-active a {
  color: red;
}

.wd-kanbas-navigation a {
  color: white;
  text-decoration: none;
}

#wd-account-avatar {
  color: grey;
  overflow: hidden;
  border-radius: 100%;
  border: 2px solid white;
}

.wd-kanbas-navigation a i {
  color: red;
  font-size: 2em;
  margin-bottom: 5px;
}

.wd-scrollable-nav {
  max-height: 100vh; 
  overflow-y: auto; 
  overflow-x: hidden;
  position: fixed;
}

.wd-nav-p {
  margin-bottom: 0px;
  margin-left: -5px;
}




